pipeline/PL_Script_Task_Input_output.json
{
	"name": "PL_Script_Task_Input_output",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "Region",
									"type": "String",
									"value": "USA",
									"direction": "Input"
								},
								{
									"name": "Count",
									"type": "Int64",
									"value": "0",
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "select @Count=count(*) from dbo.customer where Region=@Region"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "countofvalues",
					"value": {
						"value": "@activity('Script1').output.outputparameters.Count",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"countofvalues": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}